[submodule "resources/vaex"]
	path = resources/vaex
	url = https://github.com/vaexio/vaex.git
[submodule "resources/dask"]
	path = resources/dask
	url = https://github.com/dask/dask.git
[submodule "resources/dask-distributed"]
	path = resources/dask-distributed
	url = https://github.com/dask/distributed.git
[submodule "resources/rapidminer-studio"]
	path = resources/rapidminer-studio
	url = https://github.com/rapidminer/rapidminer-studio.git
[submodule "resources/pachyderm"]
	path = resources/pachyderm
	url = https://github.com/pachyderm/pachyderm.git
[submodule "resources/gridstudio"]
	path = resources/gridstudio
	url = https://github.com/ricklamers/gridstudio.git
[submodule "resources/amundsen"]
	path = resources/amundsen
	url = https://github.com/amundsen-io/amundsen.git
[submodule "resources/datahub"]
	path = resources/datahub
	url = https://github.com/datahub-project/datahub.git
[submodule "resources/datahub-helm"]
	path = resources/datahub-helm
	url = https://github.com/acryldata/datahub-helm.git
[submodule "resources/linkedin-rest.li"]
	path = resources/linkedin-rest.li
	url = https://github.com/linkedin/rest.li.git
[submodule "resources/streamlit"]
	path = resources/streamlit
	url = https://github.com/streamlit/streamlit.git
[submodule "resources/streamlit-geospatial"]
	path = resources/streamlit-geospatial
	url = https://github.com/giswqs/streamlit-geospatial.git
[submodule "resources/streamlit-extras"]
	path = resources/streamlit-extras
	url = https://github.com/arnaudmiribel/streamlit-extras.git
[submodule "resources/geomesa"]
	path = resources/geomesa
	url = https://github.com/locationtech/geomesa.git
[submodule "resources/geomesa-tutorials"]
	path = resources/geomesa-tutorials
	url = https://github.com/geomesa/geomesa-tutorials.git
[submodule "resources/jts"]
	path = resources/jts
	url = https://github.com/locationtech/jts.git
[submodule "resources/geotrellis"]
	path = resources/geotrellis
	url = https://github.com/locationtech/geotrellis.git
[submodule "resources/geoserver"]
	path = resources/geoserver
	url = https://github.com/geoserver/geoserver.git
[submodule "resources/beam"]
	path = resources/beam
	url = https://github.com/apache/beam.git
[submodule "resources/geonode"]
	path = resources/geonode
	url = https://github.com/GeoNode/geonode.git
[submodule "resources/geonetwork-core"]
	path = resources/geonetwork-core
	url = https://github.com/geonetwork/core-geonetwork.git
[submodule "resources/geonetwork-microservice"]
	path = resources/geonetwork-microservice
	url = https://github.com/geonetwork/geonetwork-microservices.git
[submodule "resources/geonetwork-ui"]
	path = resources/geonetwork-ui
	url = https://github.com/geonetwork/geonetwork-ui.git
[submodule "resources/geonetwork-docker"]
	path = resources/geonetwork-docker
	url = https://github.com/geonetwork/docker-geonetwork.git
[submodule "resources/open-metadata"]
	path = resources/open-metadata
	url = https://github.com/open-metadata/OpenMetadata.git
[submodule "resources/content-mesh"]
	path = resources/content-mesh
	url = https://github.com/gentics/mesh.git
[submodule "resources/content-mesh-oss"]
	path = resources/content-mesh-oss
	url = https://github.com/gentics/cms-oss.git
[submodule "resources/trafilatura"]
	path = resources/trafilatura
	url = https://github.com/adbar/trafilatura.git
[submodule "resources/flagdata"]
	path = resources/flagdata
	url = https://github.com/FlagOpen/FlagData.git
[submodule "resources/awesomw-web-scraping"]
	path = resources/awesomw-web-scraping
	url = https://github.com/lorien/awesome-web-scraping.git
[submodule "resources/mnbvc/deduplication_mnbvc"]
	path = resources/mnbvc/deduplication_mnbvc
	url = https://github.com/aplmikex/deduplication_mnbvc.git
[submodule "resources/mnbvc/shareGPTQA-extractor"]
	path = resources/mnbvc/shareGPTQA-extractor
	url = https://github.com/pany8125/ShareGPTQAExtractor-mnbvc.git
[submodule "resources/mnbvc/fasttext-classification"]
	path = resources/mnbvc/fasttext-classification
	url = https://github.com/Mythos-Rudy/mnbvc-fasttext-classification.git
[submodule "resources/mnbvc/charset"]
	path = resources/mnbvc/charset
	url = https://github.com/alanshi/charset_mnbvc.git
[submodule "resources/mnbvc/mossQA"]
	path = resources/mnbvc/mossQA
	url = https://github.com/luojie1024/MossQA-mnbvc.git
[submodule "resources/mnbvc/docx2json"]
	path = resources/mnbvc/docx2json
	url = https://github.com/fzp0515/docx2json.git
[submodule "resources/mnbvc/parallel_corpus"]
	path = resources/mnbvc/parallel_corpus
	url = https://github.com/liyongsea/parallel_corpus_mnbvc.git
[submodule "resources/mnbvc/WikiHowQAExtractor"]
	path = resources/mnbvc/WikiHowQAExtractor
	url = https://github.com/wanicca/WikiHowQAExtractor-mnbvc.git
[submodule "resources/mnbvc/QA_with_reporters_from_the_Ministry_of_Foreign_Affair"]
	path = resources/mnbvc/QA_with_reporters_from_the_Ministry_of_Foreign_Affair
	url = https://github.com/UnstoppableCurry/QA_with_reporters_from_the_Ministry_of_Foreign_Affair_mnbvc.git
[submodule "resources/mnbvc/pds2txt"]
	path = resources/mnbvc/pds2txt
	url = https://github.com/jayhenry/pdf2txt_mnbvc.git
[submodule "resources/mnbvc/stackexchange"]
	path = resources/mnbvc/stackexchange
	url = https://github.com/livehl/stackexchange_mnbvc.git
[submodule "resources/mnbvc/mmdp"]
	path = resources/mnbvc/mmdp
	url = https://github.com/MIracleyin/mmdp_mnbvc.git
[submodule "resources/mnbvc/github_pub_repo"]
	path = resources/mnbvc/github_pub_repo
	url = https://github.com/washing1127/publicRepos_mnbvc.git
[submodule "resources/mnbvc/github_downloader"]
	path = resources/mnbvc/github_downloader
	url = https://github.com/imgingroot/github_downloader_mnbvc.git
[submodule "resources/ydata-profiling"]
	path = resources/ydata-profiling
	url = https://github.com/ydataai/ydata-profiling.git
[submodule "resources/sweetviz"]
	path = resources/sweetviz
	url = https://github.com/fbdesignpro/sweetviz.git
[submodule "resources/dataprep"]
	path = resources/dataprep
	url = https://github.com/sfu-db/dataprep.git
[submodule "resources/autoviz"]
	path = resources/autoviz
	url = https://github.com/AutoViML/AutoViz.git
[submodule "resources/apache-arrow"]
	path = resources/apache-arrow
	url = https://github.com/apache/arrow.git
[submodule "resources/spring-ecm"]
	path = resources/spring-ecm
	url = https://github.com/paulcwarren/spring-content.git
[submodule "resources/open-lineage"]
	path = resources/open-lineage
	url = https://github.com/OpenLineage/OpenLineage.git
[submodule "resources/open-metedata"]
	path = resources/open-metedata
	url = https://github.com/open-metadata/OpenMetadata.git
[submodule "resources/db-anyline"]
	path = resources/db-anyline
	url = https://github.com/anylineorg/anyline.git
[submodule "resources/metacat"]
	path = resources/metacat
	url = https://github.com/Netflix/metacat.git
[submodule "resources/beam-etl-demo"]
	path = resources/beam-etl-demo
	url = https://github.com/nmoisess/apache-beam-etl-pipeline-demo.git
[submodule "resources/kafka-ui"]
	path = resources/kafka-ui
	url = https://github.com/kafbat/kafka-ui.git
[submodule "resources/beam_big_data"]
	path = resources/beam_big_data
	url = https://github.com/PacktPublishing/Building-Big-Data-Pipelines-with-Apache-Beam.git
[submodule "resources/opentelemetry-java-examples"]
	path = resources/opentelemetry-java-examples
	url = https://github.com/open-telemetry/opentelemetry-java-examples.git
